.person-style{
    width: 500px;
    height: 211px;
    background-color:  hsla(218, 6%, 25%, 1);
    border-radius: 10px;
}

.min-image{
    width: 178px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
}

.container{
    position: initial;
}
.text{
    color: black;
}